@model ApnaKutumbh.Models.Master

@{
    ViewBag.Title = "PropertyDetails";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
<div class="minsection">
    <div class="sub-banner pt-90 pb-90">
        <div class="container">
            <div class="col-md-8  offset-md-2">
                <div class="text-center text-line">
                    <h1>Property Details</h1>
                    <ul class="text-c">
                        <li>Home</li>
                        <li>|</li>
                        <li class="color-t">Property Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="pt-65 pb-65 property-details bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="left-side-detail">
                        <img src="~/KYCDocuments/@Model.Image" alt="" class="img-fluid" />

                        <div class="min-details">
                            <h3>Property Details</h3>
                            <div class="min-det-f-list">
                                <ul class="property-list-f list-unstyled">
                                    <li><b>Site Name:</b>@Model.SiteName</li>
                                    <li style="white-space: nowrap;"><b>Location:</b> @Model.Location</li>
                                    <li><b>Rate:</b> @Model.Rate</li>
                                    <li><b>Sector:</b> @Model.SectorName</li>
                                    <li><b>Block:</b> @Model.BlockName</li>
                                </ul>
                            </div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="booking">
                        @*<div class="agent-chat">
                            <div class="min-chat">
                                <span class="agent-i">
                                    <img src="/images/tw1.png" alt="" class="img-fluid" />
                                </span>
                                <div class="agent-de">
                                    <h4 class="text-white">Joana Williams</h4>
                                    <h6 class="text-white">Company Agent</h6>
                                    <ul class="test-rating">
                                        <li><i class="fa fa-star text-white"></i></li>
                                        <li><i class="fa fa-star text-white"></i></li>
                                        <li><i class="fa fa-star text-white"></i></li>
                                        <li><i class="fa fa-star text-white"></i></li>
                                        <li><i class="fa fa-star text-white"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="click-button">
                                <a href="#" class="wid-50 view-list">
                                    View Listing
                                </a>
                                <button class="wid-50 send-message">Send Message</button>
                            </div>
                        </div>*@
                        <div class="send-message-pro">
                            <h3>Send Enquiry</h3>
                            @*<form>*@                         
                                <div class="form-group">
                                    <input type="text" id="Name" name="Name" placeholder="Name" class="form-control fill-form" />
                                    <span id="checkName" style="color: red;"> **Please fill  Name</span>
                                    
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Email" name="Email"  placeholder="Email" class="form-control fill-form" />
                                    <span id="checkEmail" style="color: red;"> **Please fill  Email</span>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="Mobile" maxlength="10" name="Mobile" placeholder="Phone" class="form-control fill-form" />
                                </div>
                            <span id="checkMobile" style="color: red;"> **Please fill  Phone</span>
                                <div class="form-group">
                                    <textarea placeholder="Message" id="Description" name="Description"  class="form-control fill-form"></textarea>
                                    <span id="checkMessage" style="color: red;"> **Please fill  Description</span>
                                </div>
                            
                                <div class="form-group">                                 
                                    <button class="btn btn-primary" id="sendMail">Send Message</button>         
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>





<script>
    //  function sendMail() {
    $("#checkName").hide();
    $("#checkEmail").hide();
    $("#checkMobile").hide();
    $("#checkSubject").hide();
    $("#checkMessage").hide();

    $("#Mobile").keyup(function (e) {
        if (!isNaN(parseInt(this.value, 10))) {
            this.value = parseInt(this.value);
        } else {
            this.value = 0;
        }
        this.value = this.value.replace(/[^0-9]/g, '');

    });



    $('#sendMail').click(function () {
        var isAllValid = true;
        // validation on Submit Button
        let Name1 = $("#Name").val();
        if (Name1.length == "") {
            $("#checkName").show();
            isAllValid = false;
            return false;
        } else {
            $("#checkName").hide();
        }

        let Email1 = $("#Email").val();
        if (Email1.length == "") {
            $("#checkEmail").show();
            isAllValid = false;
            return false;
        } else {
            $("#checkEmail").hide();
        }

        let Mobile1 = $("#Mobile").val();
        if (Mobile1.length == "") {
            $("#checkMobile").show();
            isAllValid = false;
            return false;
        } {
            $("#checkMobile").hide();
        }
        let Description1 = $("#Description").val();
        if (Description1 == "") {
            $("#checkMessage").show();
            isAllValid = false;
            return false;
        } else {
            $("#checkMessage").hide();
        }
        var name = document.getElementById('Name').value;
        var email = document.getElementById('Email').value;
        var Mobile = document.getElementById('Mobile').value;
        var Description = document.getElementById('Description').value;
        var body = 'name:' + name + '<br/>email:' + email + '<br/>phone:' + Mobile + '<br/>Description:' + Description;
        debugger;
        Email.send({
            Host: "smtp.elasticemail.com",
            Username: "afluexdeveloper7@gmail.com",
            Password: "BFC48F0F5A85EFF1201DFF5EE656D109502B",
            To: 'parveen.mrj@gmail.com',
            From: "afluexdeveloper7@gmail.com",
            Subject: "Enquiry",
            Body: body,
        })
            .then(function (message) {
                alert("Message Send Successfully!!");              
                sendEmail();
            });
    });
  //  }

    function sendEmail() {
        var email = '{Name: "' + $("#Name").val() + '", Email: "' + $("#Email").val() + '",Mobile: "' + $("#Mobile").val() + '",Description: "' + $("#Description").val() + '"}';
        $.ajax({
            type: "POST",
            url: "/Website/SendEmail",
            data: email,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                debugger;              
                // alert(response);        
                $("#Name").val('');
                $("#Email").val('');
                $("#Mobile").val('');
                $("#Description").val('');
            },
            failure: function (response) {
                //alert("Error");
                $("#Name").val('');
                $("#Email").val('');
                $("#Mobile").val('');
                $("#Description").val('');
            },
            error: function (response) {
                // alert('Error');
                $("#Name").val('');
                $("#Email").val('');
                $("#Mobile").val('');
                $("#Description").val('');
            }
        });
    }

</script>

